body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #360554;
  background: -moz-linear-gradient(0deg, #360554 0%, #51136e 35%, #6a238b 100%);
  background: -webkit-linear-gradient(0deg, #360554 0%, #51136e 35%, #6a238b 100%);
  background: linear-gradient(0deg, #360554 0%, #51136e 35%, #6a238b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#360554",endColorstr="#6a238b",GradientType=1);
}

:root {
  --navbar-dark: #000000;
  --color-default: #ffffff;
  --color-primary: #FF8500;
  --color-primary-dark: #F75400;
  --alternative-color-secundary: #290B4F;
  --color-secundary: #616161;
  --border-color-primary: #eaeaea;
  --color-secundary-light: #7153BB;
  --color-footer-link: #687077;
  --color-footer-title: #3c72b4;
  font-size: 60%;
}

.root {
  width: 100vw;
}
.root .form-control {
  border: none !important;
}
.root nav.navbar {
  background-color: var(--navbar-dark);
}
.root nav.navbar img#logo {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
.root nav.navbar div.search {
  height: 4.5rem;
  width: 100%;
  border: none !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.root nav.navbar div.search input {
  outline: none;
  border-color: none;
  outline: none;
  padding: 0 2rem;
  font-size: 1.4rem;
  border-radius: 0.7rem;
}
.root nav.navbar div.search input:focus, .root nav.navbar div.search input:hover {
  outline: none;
  border-color: none;
  box-shadow: none;
  outline: none;
}
.root nav.navbar div.search button {
  background-color: var(--color-primary);
  outline: none;
  border-radius: 0.7rem;
  border: none !important;
  padding: 0.5rem 1.5rem;
}
.root nav.navbar div.search button:focus, .root nav.navbar div.search button:hover {
  outline: none;
}
.root nav.navbar img#cart {
  width: 30%;
}
.root div.jumbotron.jumbotron-fluid {
  height: 250px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: auto;
}
.root div.jumbotron.jumbotron-fluid .content {
  flex-direction: column;
  margin: auto !important;
  display: flex !important;
}
.root div.jumbotron.jumbotron-fluid .content img {
  width: 100%;
  max-width: 650px;
  min-width: 300px;
}
.root div.jumbotron.jumbotron-fluid .content p {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.2rem;
}
.root div.jumbotron.jumbotron-fluid .content p:nth-of-type(1) {
  color: var(--color-default);
}
.root div.jumbotron.jumbotron-fluid .content p:nth-of-type(2) {
  color: var(--color-primary);
}
.root div.group-buttons {
  margin-top: -17px;
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.root div.group-buttons .choose {
  display: none;
}
.root div.group-buttons .content-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.root div.group-buttons .option-menu {
  transition: 0.5s;
  position: relative;
  top: -17px;
}
.root div.group-buttons .option-menu button {
  padding: 0.8rem 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 50rem;
  width: 100% !important;
  height: auto;
  background: var(--alternative-color-secundary);
  color: var(--color-default);
}
.root div.group-buttons .option-menu .left-bat {
  position: absolute;
  left: -25px;
  width: 70px;
  top: -10px;
  transform: scale(0.2);
  display: none;
}
.root div.group-buttons .option-menu .right-bat {
  position: absolute;
  right: 10px;
  width: 50px;
  transform: scale(0.2);
  top: -10px;
  display: none;
}
.root div.group-buttons .option-menu:hover button {
  background: var(--color-primary-dark);
}
.root div.group-buttons .option-menu:hover .left-bat {
  display: block;
  animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.root div.group-buttons .option-menu:hover .right-bat {
  display: block;
  animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.root div.group-buttons button + button {
  margin-left: 1.6rem;
}
.root div.box-container {
  width: 100%;
  padding-top: 8rem;
}
.root div.box-container .header-box {
  margin-bottom: -12.5rem;
  text-align: center;
}
.root div.box-container .body-box {
  background: var(--color-secundary-light);
  padding: 16rem 2.2rem 2rem 2.2rem;
  width: 100%;
  border-radius: 2.5rem;
}
.root div.box-container .body-box h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}
.root div.box-container .body-box p {
  font-size: 2rem;
  color: var(--color-default);
}
.root div.box-container .body-box button {
  font-size: 2rem;
  border-radius: 2.5rem;
  background: var(--alternative-color-secundary);
  color: var(--color-default);
  padding: 0.2rem 2.2rem;
  transition: background 0.5s;
  border: none;
  outline: none;
  box-shadow: none;
}
.root div.box-container .body-box button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.root div.box-container .body-box button:hover {
  background: var(--color-primary-dark);
}
.root div.list-cart {
  margin: 5rem 0rem;
}
.root div.list-cart .container {
  background: var(--color-default);
  border-radius: 1rem;
  padding: 1rem 2.6rem;
}
.root div.list-cart .container .product {
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--border-color-primary);
}
.root div.list-cart .container .product:hover button {
  display: block;
  animation: inside-off;
}
.root div.list-cart .container .product a {
  color: var(--navbar-dark);
  text-decoration: none;
  text-transform: none;
}
.root div.list-cart .container .product a h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
.root div.list-cart .container .product span {
  font-size: 2.2rem;
  font-weight: 800;
}
.root div.list-cart .container .product button {
  display: none;
  transition: 0.5s;
  animation: 1s inside-off both;
  font-size: 1.6rem;
}
.root footer .container {
  border-bottom: 1px solid var(--border-color-primary);
}
.root footer .container a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-footer-link) !important;
  font-weight: 400;
}
.root footer .container a:hover {
  text-decoration: underline;
}
.root footer .container .title-footer {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-footer-title);
}

@keyframes scale-hover {
  0% {
    transform: scale(0.2) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes inside-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  div.group-buttons {
    margin-top: -17px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  div.group-buttons div.choose {
    display: block !important;
  }
  div.group-buttons .content-group {
    flex-direction: column;
    align-items: center;
    display: none !important;
  }
  div.group-buttons .option-menu {
    transition: 0.5s;
    position: relative;
    top: -17px;
  }
  div.group-buttons .option-menu button {
    padding: 0.8rem 3rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 50rem;
    width: 100% !important;
    height: auto;
    background: var(--alternative-color-secundary);
    color: var(--color-default);
  }
  div.group-buttons .option-menu .left-bat {
    position: absolute;
    left: -25px;
    width: 70px;
    top: -10px;
    transform: scale(0.2);
    display: none;
  }
  div.group-buttons .option-menu .right-bat {
    position: absolute;
    right: 10px;
    width: 50px;
    transform: scale(0.2);
    top: -10px;
    display: none;
  }
  div.group-buttons .option-menu:hover button {
    background: var(--color-primary-dark);
  }
  div.group-buttons .option-menu:hover .left-bat {
    display: block;
    animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  div.group-buttons .option-menu:hover .right-bat {
    display: block;
    animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  div.group-buttons button + button {
    margin-left: 1.6rem;
  }
}
@media (max-width: 1100px) {
  img#cart {
    display: none;
  }

  img#logo {
    width: auto !important;
  }
}
@media (max-width: 578px) {
  div.group-buttons {
    margin-top: -17px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  div.group-buttons div.choose {
    display: block !important;
    width: 40%;
  }
  div.group-buttons .content-group {
    flex-direction: column;
    align-items: center;
    display: none !important;
  }
  div.group-buttons .option-menu {
    transition: 0.5s;
    position: relative;
    top: -17px;
  }
  div.group-buttons .option-menu button {
    padding: 0.8rem 3rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 50rem;
    width: 100% !important;
    height: auto;
    background: var(--alternative-color-secundary);
    color: var(--color-default);
  }
  div.group-buttons .option-menu .left-bat {
    position: absolute;
    left: -25px;
    width: 70px;
    top: -10px;
    transform: scale(0.2);
    display: none;
  }
  div.group-buttons .option-menu .right-bat {
    position: absolute;
    right: 10px;
    width: 50px;
    transform: scale(0.2);
    top: -10px;
    display: none;
  }
  div.group-buttons .option-menu:hover button {
    background: var(--color-primary-dark);
  }
  div.group-buttons .option-menu:hover .left-bat {
    display: block;
    animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  div.group-buttons .option-menu:hover .right-bat {
    display: block;
    animation: scale-hover both cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  }
  div.group-buttons button + button {
    margin-left: 1.6rem;
  }
}
